<footer>

    <div class="rrss">
        <a href="https://www.linkedin.com/in/marta-sanchez-mayrahkeedesign/"><i
                class="fa-brands fa-linkedin-in"></i></a>
        <a href="https://github.com/Martamsp97"><i class="fa-brands fa-github"></i></a>
        <a href="mailto:marta.msp97@gmail.com"><i class="fa-solid fa-envelope-open-text"></i></a>
        <a href="https://discordapp.com/users/1285604721792651304"><i class="fa-brands fa-discord"></i></a>
    </div>
    <div class="license">
        <p>Autor de la ilustración del fondo: Colectivo SMACK</p>
    </div>
</footer>