<div class="contenedor">
    <div class="navegador">
        <div class="izq">
            <figure>
                <img src="/imagenes/mayrahkee logo.png" alt="logo">
            </figure>
            <h4>
                <p>DISEÑADORA, FULLSTACK DEVELOPER</p>
            </h4>
        </div>
        <div class="dcha">

            <nav>
                <div class="hamb">
                    <button (click)="menuBurg()" class="hamburger">
                        <p>☰</p>
                    </button>
                </div>
                <ul [class.open]="isOpen" class="menu">
                    <li><a href="#proyectos">proyectos,</a></li>
                    <li> <a href="#about">sobre mí,</a></li>
                    <li><a href="#contacto">contacto</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <hr>
</div>