<div class="contenedor">
    <div class="navegador">
        <div class="izq">
            <figure>
                <img src="/imagenes/mayrahkee logo.png" alt="logo">
            </figure>
            <h4>
                <p>DISEÑADORA, FULLSTACK DEVELOPER</p>
            </h4>
        </div>
        <div class="dcha">
            <nav>
                <ul>
                    <li><a href="#proyectos">proyectos,</a></li>
                    <li> <a href="#about">sobre mí,</a></li>
                    <li><a href="#contacto">contacto</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <hr>
</div>