.card {
    display: grid;
    grid-template-columns: 4fr 3fr;
    width: 85%;
    margin-bottom: 6rem;
    gap: 2rem;


    .card-texto {
        h3 {
            font-family: var(--fuente-titulos);
            font-size: 4rem;
        }

        p {
            font-family: var(--fuente-texto-medium);
            font-size: 1.125rem;
            margin-top: 1.2rem;
            margin-bottom: 1.4rem;
        }

        .button {
            width: 100%;
            justify-content: right;
            text-align: right;
            align-items: right;
            align-content: right;
        }

        button {
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            text-align: right;
            background-color: transparent;
            border: 1px solid var(--color-blanco);
            border-radius: 30px;
            color: var(--color-blanco);
            font-family: var(--fuente-texto-medium);
            padding: 0.5rem 1rem;
            font-size: 1.1rem;
            cursor: pointer;
        }

        button:hover {

            transform: translateX(20px) scale(1.1);
        }
    }
}